option_settings:
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Production
    AWS__Region: ap-south-1
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /: wwwroot
files:
  /etc/nginx/conf.d/websocket_upgrade.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # WebSocket support for SignalR
      map $http_upgrade $connection_upgrade {
          default upgrade;
          '' close;
      }
      
      upstream dotnet {
          server 127.0.0.1:5000;
          keepalive 256;
      }
      
      server {
          listen 80;
          
          location / {
              proxy_pass http://dotnet;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection $connection_upgrade;
              proxy_set_header Host $host;
              proxy_cache_bypass $http_upgrade;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
